@model IEnumerable<RodriguesLembra.Models.Todo>
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="fa fa-tasks fa-5x"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.Count()</div>
                        <div>Tarefas</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="fa fa-tasks fa-5x"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.Count(p => p.IsDone)</div>
                        <div>Tarefas Completas</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="fa fa-tasks fa-5x"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.Count(p => !p.IsDone)</div>
                        <div>Tarefas para realizar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="fa fa-tasks fa-5x"></span>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.Count(p => DateTime.UtcNow.AddHours(-3).Date > p.DueDate.Date && !p.IsDone)</div>
                        <div>Tarefas atrasadas</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Timeline
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="timeline">
            @{
                int counter = 0;
            }
            @foreach (var item in Model)
            {
                if (counter % 2 == 0)
                {
                    <li>
                        @if (item.IsDone)
                        {
                            <div class="timeline-badge success"><i class="fa fa-check"></i></div>
                        }
                        else
                        {
                            if (item.DueDate.Date < DateTime.UtcNow.AddHours(-3).Date)
                            {
                                <div class="timeline-badge danger">
                                    <a class="timeline-link" href="@Url.Action("ToggleStatus", "Todos", new { id = item.TodoID, fromHomePage = true })"><i class="fa fa-tasks"></i></a>
                                </div>
                            }
                            else if (item.DueDate.Date == DateTime.UtcNow.AddHours(-3).Date)
                            {
                                <div class="timeline-badge info">
                                    <a class="timeline-link" href="@Url.Action("ToggleStatus", "Todos", new { id = item.TodoID, fromHomePage = true })"><i class="fa fa-tasks"></i></a>
                                </div>
                            }
                            else
                            {
                                <div class="timeline-badge warning">
                                    <a class="timeline-link" href="@Url.Action("ToggleStatus", "Todos", new { id = item.TodoID, fromHomePage = true })"><i class="fa fa-tasks"></i></a>
                                </div>
                            }
                        }

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">@item.Title</h4>
                                <p>
                                    <small class="text-muted"><i class="fa fa-clock-o"></i> @item.DueDate.ToLongDateString()</small>
                                    <br />
                                    <small class="text-muted"><i class="glyphicon glyphicon-console"></i> @item.Realm.Name</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </li>
                }
                else
                {
                    <li class="timeline-inverted">
                        @if (item.IsDone)
                        {
                            <div class="timeline-badge success"><i class="fa fa-check"></i></div>
                        }
                        else
                        {
                            if (item.DueDate.Date < DateTime.UtcNow.AddHours(-3).Date)
                            {
                                <div class="timeline-badge danger">
                                    <a class="timeline-link" href="@Url.Action("ToggleStatus", "Todos", new { id = item.TodoID, fromHomePage = true })"><i class="fa fa-tasks"></i></a>
                                </div>
                            }
                            else if (item.DueDate.Date == DateTime.UtcNow.AddHours(-3).Date)
                            {
                                <div class="timeline-badge info">
                                    <a class="timeline-link" href="@Url.Action("ToggleStatus", "Todos", new { id = item.TodoID, fromHomePage = true })"><i class="fa fa-tasks"></i></a>
                                </div>
                            }
                            else
                            {
                                <div class="timeline-badge warning">
                                    <a class="timeline-link" href="@Url.Action("ToggleStatus", "Todos", new { id = item.TodoID, fromHomePage = true })"><i class="fa fa-tasks"></i></a>
                                </div>
                            }
                        }
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">@item.Title</h4>
                                <p>
                                    <small class="text-muted"><i class="fa fa-clock-o"></i> @item.DueDate.ToLongDateString()</small>
                                    <br />
                                    <small class="text-muted"><i class="glyphicon glyphicon-console"></i> @item.Realm.Name</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </li>
                }
                counter++;
            }
        </ul>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->